
/* situation 1 */
@media screen and (max-width:950px)
{
    #fiche{
        background-color: black;
        width: 680px;
        height: 555px;
        position:absolute;
        top: 5%;
        left: 5%;
        z-index:2;
    }
    #portrait{
        background: linear-gradient(to top,green,black);
        border: 2px green solid;
        display: block;
        border-radius: 10px;
        top: 12px;
        left: 12px;
        color: yellow;
        width: 400px;
        height: 330px;
        position: absolute;
        text-align: center;
    }
    #image{
        width: 300px;
        height: 300px;
        position: absolute;
        right: 15%;
        bottom:1px;
        animation: tourne 3s linear 1s infinite normal;
    
    }
    @keyframes tourne{
        from{
            transform: rotate3d(0, 0, 1,)
        }
        to{
            transform: rotate3d(0, 100, 0, 360deg)
        }
    }
    #adria{
        bottom: 4%;
        position: relative;
    }
    #stats{
        background: linear-gradient(to top,white,purple);
        position:absolute;
        top: 65%;
        left:5%;
        border-radius: 10px;
        z-index: 2;
        width: 350px;
        height: 175px;
        list-style-type: lower-greek;
    }
    #attaque{
        background: linear-gradient(to top,white,orange);
        position: absolute;
        width: 220px;
        height: 250px;
        left: 65%;
        top:10%;
        border-radius: 10px;
    }
    #titreattaque{
        color: red;
        
    }
    #titrestat{
        color:purple;
    }
}
/* situation 2 */
@media screen and (max-width:690px)
{
   

}
/* situation 3 */
@media screen and (min-width:950px)
{
    

}


/*
https://cssgradient.io/
*/
