/* 
    Created on : 03 mars 2019, 10:22:00
    Author     : fmartin
*/

#zoneBordure{
    width: 400px;
    height: 160px;
    border-radius: 20px;
}

#zoneOmbre{
    width: 400px;
    height: 200px;
    border-radius: 20px;
}

#zoneTest{
    border-radius: 20px;
    height: 160px;
    width: 400px;
}

#divTest{
    position: absolute;
    border: black ridge 1px;  
    width: 250px;
    text-align: center;
    left: 90px;
    top: 520px;
    
}

.position_input{
    position: absolute;
  
}
