#formulaire{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 1000px;
    height: 600px;
    background-color: #dddddd;
}

#civilite{
    position: absolute;
    top: 10px;
    left: 20px;
    width: 400px;
    height: 320px;
    background-color: antiquewhite;
    padding: 10px;
}
#savoirs{
    position: absolute;
    top: 10px;
    left: 460px;
    width: 510px;
    height: 320px;
    background-color: #ccffcc;
    padding: 10px;
}
#connexion{
    position: absolute;
    top: 360px;
    left: 20px;
    width: 950px;
    height: 150px;
    background-color: lemonchiffon;
    padding: 10px;
}

.position_label{
    position: relative;
    left: 10px;
}
.position_label2{
    position: absolute;
    left: 130px;
}

.position_label3{
    position: relative;
    left: 10px;
    top: 20px;
}

.position_label4{
    position: absolute;
    left: 60px;
}

.position_input{
    position: absolute;
    left: 100px;
}

.position_input2{
    position: absolute;
    left: 225px;
}

.position_input3{
    position: relative;
    left: 20px;
}

.position_input4{
    position: absolute;
    left: 300px;
}

#label-version{
    position: absolute;
    left: 390px;
}

#version{
    position: absolute;
    left:465px;
}

#inscription{
    position: absolute;
    top: 550px;
   right: 300px;
}

#clean{
    position: absolute;
    top:550px;
    right: 30px;
}